/* FORMULARIO */
fieldset {
  border: 0;
}
form {
  font-size: 1.5em;
  color: #474444;
  display: grid;
  margin-top: 20px;
  justify-content: center;
}

input,
select,
button {
  border-radius: 5px;
  font-size: 1.5em;
  color: #474444;
}

.campo {
  margin-bottom: 1.5em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #474444;
  display: block;
}

fieldset.grupo .campo {
  float: left;

  margin-right: 4em;
}
fieldset.grupo2 .campo {
  float: left;
  margin-right: 4em;
}
fieldset.grupo3 .campo {
  float: left;
  margin-right: 1.9em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select {
  padding: 0.2em;
  border: 1px solid #474444;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background: #e1e3e4;
}

.botao {
  font-size: 1.2em;
  background: #474444;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  width: 200px;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-left: 5rem;
}

.botao:hover {
  background: #828485;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

#type {
  display: inline-block;
}
#genre {
  display: inline-block;
}
.genero {
  padding-right: 20px;
}
.genero input {
  width: 20px;
  height: 20px;
}
.title-genre {
  padding-right: 20px;
}
.tipo {
  padding-right: 30px;
  padding-left: 30px;
}
.tipo input {
  width: 20px;
  height: 20px;
}

.titulo-consult {
  text-align: center;
  font-size: 2rem;
}

/* CONSULTORIO */
#imagem {
  display: flex;
  justify-content: center;
}
